cython==0.29.28
flask==2.0.3
gdown==4.5.1
inflect==6.0.0
jieba==0.42.1
librosa==0.8.0
matplotlib==3.5.1
numpy==1.19.5
pandas==1.3.5
pypinyin==0.47.0
pysbd==0.3.4
pyyaml==6.0
scipy>=0.19.0
soundfile==0.10.3.post1
tensorboardX==2.5.1
#torch>=1.7 (using pytorch from nvidia's image)
tqdm==4.63.0
numba==0.53
umap-learn==0.5.1
anyascii==0.3.1
coqpit==0.0.16
# japanese g2p deps
mecab-python3==1.0.3
unidic-lite==1.0.8
# gruut+supported langs
gruut[cs,de,es,fr,it,nl,pt,ru,sv]==1.2.1
fsspec>=2021.04.0
pyworld==0.3.0
webrtcvad==2.0.10
torchaudio==0.12.1
