Flask
Flask_Cors
gradio
numpy==1.23.5
numba==0.56.4
pyworld==0.3.3
scipy==1.10.1
SoundFile==0.12.1
torch==1.13.1
torchaudio==0.13.1
tqdm
scikit-maad
praat-parselmouth
onnx
onnxsim
onnxoptimizer
fairseq==0.12.2
librosa==0.8.1
tensorboard
PyQt5
huggingface_hub
datasets
